{% extends "base.html" %}
{% block extracss %}
    <link rel="stylesheet" type="text/css" href="/static/css/style_batteries.css">
{% endblock %}
{% block content %}
    <div class="containerWrapper">




        <div class="site_logo">
            <img src="/static/images/logo_birds_new.png" id="logo_birds">
        </div>


        <div class="midWideContainer">
            <div class="containerInner ui-sortable">

                <div class="row section1">
                    <div class="col-md-4 innerContent">
                        <div class="col-inner">
                            <div class="HeadlineWrapper">
                                <div class="Headline">STEP 1: CREATE ACCOUNT</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 innerContent">
                        <div class="col-inner active">
                            <div class="HeadlineWrapper">
                                <div class="Headline">STEP 2: CUSTOMIZE ORDER</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 innerContent">
                        <div class="col-inner">
                            <div class="HeadlineWrapper">
                                <div class="Headline">STEP 3: ORDER COMPLETE</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row section2">
                    <div class="col-md-12 col-full innerContent">
                        <div class="col-inner">
                            <div class="HeadlineWrapper">
                                <div class="Headline">
                                    <b><em>WAIT!</em>&nbsp; </b> Would You Like For Us To Add Rechargeable Lithium Ion Batteries To Your Order for <span class="go_green">75% OFF</span>?
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row section3">
                    <div class="col-md-6 col-full innerContent">
                        <div class="col-inner">
                            <div class="merge">
                                <div class="HeadlineWrapper">
                                    <div class="Headline">
                                        1 Premium Lithium Ion Rechargeable Battery
                                    </div>
                                </div>
                                <div class="ImageWrapper">
                                    <img src="/static/images/batteries-upsell.gif" class="elIMG ximg">
                                </div>
                            </div>
                            <div class="button1">
                                <a href="{% url 'batteries' %}?action=yes"><span>YES! Please add the Rechargeable Battery Pack to my order at the discounted rate of 75% OFF!!</span></a>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="row section4">
                    <div class="col-md-12 col-full innerContent">
                        <div class="col-inner">
                            <div class="HeadlineWrapper">
                                <div class="Headline">
                                    <u><a href="{% url 'batteries' %}?action=no" >No Thanks, I'll just use some AAA's from around the house. IMPORTANT : AAA's will only last 2 hours - the T5 LED Bulb uses large amounts of power for optimal operation.</a><br></u>
                                    <br>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>



        </div>
<!-- Offer Conversion: EagleEye video page -->
<iframe src="https://cpatrust.go2jump.org/SLEP" scrolling="no" frameborder="0" width="1" height="1"></iframe>
<!-- // End Offer Conversion -->
<!-- Offer Conversion: EagleEye video page -->
<iframe src="https://cpatrust.go2jump.org/SLET" scrolling="no" frameborder="0" width="1" height="1"></iframe>
<!-- // End Offer Conversion -->
<img src="http://trends.revcontent.com/conv.php?t=1aAjzjCQzvF5G1VjTIcxDN0VD%2Fuck2IUEnfV53XngpNkCe0BsNYeVtro6BesQ47N" />


{% endblock %}
