{% extends "base.html" %}
{% block extracss %}
    <link rel="stylesheet" type="text/css" href="/static/css/style_batteries.css">
{% endblock %}
{% block content %}
    <div class="containerWrapper">




        <div class="site_logo">
            <img src="/static/images/logo_birds_new.png" id="logo_birds">
        </div>


        <div class="midWideContainer">
            <div class="containerInner ui-sortable">

                <div class="row section1">
                    <div class="col-md-4 innerContent">
                        <div class="col-inner">
                            <div class="HeadlineWrapper">
                                <div class="Headline">STEP 1: CREATE ACCOUNT</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 innerContent">
                        <div class="col-inner active">
                            <div class="HeadlineWrapper">
                                <div class="Headline">STEP 2: CUSTOMIZE ORDER</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 innerContent">
                        <div class="col-inner">
                            <div class="HeadlineWrapper">
                                <div class="Headline">STEP 3: ORDER COMPLETE</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row section2">
                    <div class="col-md-12 col-full innerContent">
                        <div class="col-inner">
                            <div class="HeadlineWrapper">
                                <div class="Headline">
                                    <b><em>WAIT!</em>&nbsp; </b>Add A Car Charger, A 2nd Home Charger AND a MINI Flashlight, Perfect for Keychains for <span class="go_green">80% OFF</span>?
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row section3">
                    <div class="col-md-6 col-full innerContent">
                        <div class="col-inner">
                            <div class="merge">
                                <div class="HeadlineWrapper">
                                    <div class="Headline">
                                        1 Premium Car Charger. Keep a charger in your car!<br>
                                                                           +<br>
                                        1 Premium Wall Charger. Keep a 2nd spare<br>
                                                                 +<br>
                                        1 MINI Keychain Light. Always have a light source for Emergencies!
                                    </div>
                                </div>
                                <div class="ImageWrapper">
                                    <img src="/static/images/3.png" class="elIMG ximg">
                                </div>
                            </div>
                            <div class="button1">
                                <a href="{% url 'car_charger' %}?action=yes"><span>YES! Please Add the Car Charger, Wall Charger and an Mini Keychain at 80% OFF. Please Send this to Me for Just 14.99</span></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row section4">
                    <div class="col-md-12 col-full innerContent">
                        <div class="col-inner">
                            <div class="HeadlineWrapper">
                                <div class="Headline">
                                    <u><a href="{% url 'warranty' %}" >No Thanks. I know I am missing out on this opportunity!</a><br></u>
                                    <br>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>



        </div>

<!-- Offer Conversion: EagleEye video page -->
<iframe src="https://cpatrust.go2jump.org/SLEP" scrolling="no" frameborder="0" width="1" height="1"></iframe>
<!-- // End Offer Conversion -->
<!-- Offer Conversion: EagleEye video page -->
<iframe src="https://cpatrust.go2jump.org/SLET" scrolling="no" frameborder="0" width="1" height="1"></iframe>
<!-- // End Offer Conversion -->


{% endblock %}
