{% extends "base.html" %}
{% block content %}
    <div class="fullContainer container" id="section-6309810000">


        <div class="containerInner">
            <form method="post" action="{% url 'order' %}">

                {% csrf_token %}

                <div class="row padding_10">
                    <div class="col-md-12 innerContent">

                        <div class="site_logo">
                            <img src="/static/images/logo_birds_new.png">
                        </div>

                        <div class="col-inner">
                            <div class="image-block">
                                <img src="/static/images/G800Header224.jpg" class="elIMG ximg">
                            </div>
                            <div class="HeadlineWrapper">
                                <div class="Headline">
                                     You Get The EagleEye EE-800 Tactical Flashlight Today - Normally $116.00 Retail -
                                     For
                                     ONLY $29
                                /ea
                                <br>(A 75% Discounts!)
                                <br>PLUS.. We're throwing in FREE SHIPPING when you order yours today!
                                Save changes

                            </div>
                        </div>
                    </div>

                </div>
        </div>


        <div class="row padding_10">


            <div class="col-md-6 innerContent">
                <div class="shipping_innerbox_one">


                    <div class="discount_info">
                        <div class="discount_text">
                            <div class="discount_text_inner">

                                <h3>
                                    <b>Your 75% Discount Has Been Applied</b><br>
                                </h3>
                                <div class="discount_text_innerinfo">
                                    Your Order Qualifies For <b>FREE</b> Shipping when ordered TODAY.
                                    <br>
                                </div>
                            </div>
                        </div>
                        <div class="discount_image">
                            <img src="/static/images/coupon_tag-r.png" height="auto" width="auto">
                        </div>
                    </div>

                    <div class="HeadlineWrapper elMargin0">
                        <div class="Headline alignleft hsSize18">
                            <b>Step #1:</b> Select Quantity
                            <br>
                        </div>
                    </div>

                    <div class="ProductOptionsWrapper">


                        <div class="ProductOptions">
                            <div class="clearfix ProductOptinLabel">
                                <div class="pull-left ProductOptinItem">Item</div>
                                <div class="pull-right ProductOptinLabelPrice">Price</div>
                            </div>
                        </div>

                        <div class="clearfix ProductOptinProducts">
                            <div class="pull-left ProductOptinProductName">
                                <input class="click_radio checkbox123"
                                       data-name="Buy 3 EagleEye Flashlights, GET 2 FREE!"
                                       name="purchase[product_id]" data-val="1807" data-price="145" data-qty="5"
                                       value="{{ flashlight_id }}_5" type="radio" id="q5" checked>
                                <div class="pull-right ProductOptinPrice" data-cf-product-price="true"
                                     taxamo-currency="USD"><b>$29/ea</b>
                                </div>
                                <label data-cf-product-name="true" for="q5"><b>Buy 3 EagleEye Flashlights, GET 2
                                    FREE!</b>
                                    ($145 total)</label>
                            </div>
                        </div>

                        <div class="clearfix ProductOptinProducts">
                            <div class="pull-left ProductOptinProductName">
                                <input class="click_radio"
                                       data-name="Buy 2 EagleEye Flashlights, GET 1 FREE!"
                                       name="purchase[product_id]" data-val="1808" data-price="117" data-qty="3"
                                       value="{{ flashlight_id }}_3" type="radio" id="q3">
                                <div class="pull-right ProductOptinPrice" data-cf-product-price="true"
                                     taxamo-currency="USD"><b>$39/ea</b>
                                </div>
                                <label data-cf-product-name="true" for="q3"><b>Buy 2 EagleEye Flashlights, GET 1
                                    FREE!</b>
                                    ($117 total)</label>
                            </div>
                        </div>

                        <div class="clearfix ProductOptinProducts">
                            <div class="pull-left ProductOptinProductName">
                                <input class="click_radio" data-name="1 EagleEye Flashlight"
                                       name="purchase[product_id]" data-val="1780" data-qty="1"
                                       value="{{ flashlight_id }}_1"
                                       type="radio" id="q1">
                                <div class="pull-right ProductOptinPrice" data-cf-product-price="true"
                                     taxamo-currency="USD">$56
                                </div>
                                <label data-cf-product-name="true" for="q1">1 EagleEye Flashlight ($56.00 per
                                    unit)</label>
                            </div>
                        </div>


                        <div class="clearfix ProductOptinProducts">
                            <div class="pull-left ProductOptinProductName">
                                <input class="click_radio" data-name="2 EagleEye Flashlight"
                                       name="purchase[product_id]" data-val="1790" data-qty="2"
                                       value="{{ flashlight_id }}_2"
                                       type="radio" id="q2">
                                <div class="pull-right ProductOptinPrice" data-cf-product-price="true"
                                     taxamo-currency="USD">$97
                                </div>
                                <label data-cf-product-name="true" for="q2">2 EagleEye Flashlights ($48.50 Per
                                    Unit)</label>
                            </div>
                        </div>

                        <div class="clearfix ProductOptinProducts">
                            <div class="pull-left ProductOptinProductName">
                                <input class="click_radio" data-name="4 EagleEye Flashlight"
                                       name="purchase[product_id]" data-val="1792" data-qty="4" value="256541"
                                       type="radio" id="q4">
                                <div class="pull-right ProductOptinPrice" data-cf-product-price="true"
                                     taxamo-currency="USD">$169
                                </div>
                                <label data-cf-product-name="true" for="q4">4 EagleEye Flashlights ($42.25 Per
                                    Unit)</label>
                            </div>
                        </div>

                        <div class="clearfix ProductOptinProducts">
                            <div class="pull-left ProductOptinProductName">
                                <input class="click_radio" data-name="10 EagleEye Flashlight"
                                       name="purchase[product_id]" data-val="1794" data-qty="10"
                                       value="{{ flashlight_id }}_10"
                                       type="radio" id="q10">
                                <div class="pull-right ProductOptinPrice" data-cf-product-price="true"
                                     taxamo-currency="USD">$350
                                </div>
                                <label data-cf-product-name="true" for="q10">10 EagleEye Flashlights ($35.00 Per
                                    Unit)</label>
                            </div>
                        </div>

                        <div class="clearfix ProductOptinProducts">
                            <div class="pull-left ProductOptinProductName">
                                <input class="click_radio" data-name="15 EagleEye Flashlight"
                                       name="purchase[product_id]" data-val="1795" data-qty="15"
                                       value="{{ flashlight_id }}_15"
                                       type="radio" id="q15">
                                <div class="pull-right ProductOptinPrice" data-cf-product-price="true"
                                     taxamo-currency="USD">$525
                                </div>
                                <label data-cf-product-name="true" for="q15">15 EagleEye Flashlights ($35.00 Per
                                    Unit)</label>
                            </div>
                        </div>

                        <div class="clearfix ProductOptinProducts">
                            <div class="pull-left ProductOptinProductName">
                                <input class="click_radio" data-name="20 EagleEye Flashlight"
                                       name="purchase[product_id]" data-val="1796" data-qty="20"
                                       value="{{ flashlight_id }}_20"
                                       type="radio" id="q20">
                                <div class="pull-right ProductOptinPrice" data-cf-product-price="true"
                                     taxamo-currency="USD">$700
                                </div>
                                <label data-cf-product-name="true" for="q20">20 EagleEye Flashlights ($35.00 Per
                                    Unit)</label>
                            </div>
                        </div>


                    </div>

                    <div class="HeadlineWrapper  elMargin30">
                        <div class="Headline alignleft hsSize18"><b>Step #2:</b> Contact Information
                            <br>
                        </div>
                    </div>

                    <div class="Seperator elMargin0">
                        <div class="Divider">
                            <div class="DividerInner"></div>
                        </div>
                    </div>


                    <div class="HeadlineWrapper elMargin10">
                        <div class="Headline alignleft hsSize12" style="color: rgba(47, 47, 47, 0.8);"><b>First
                            Name:</b>
                        </div>
                    </div>

                    <div class="align_center elMargin10">
                        <input type="text" name="firstName" placeholder="First Name"
                               required="required" class="required elInputBR5 elInputStyle1"
                               data-error-message="Please enter your first name!">
                    </div>

                    <div class="HeadlineWrapper elMargin10">
                        <div class="Headline alignleft hsSize12" style="color: rgba(47, 47, 47, 0.8);"><b>Last
                            Name:</b>
                        </div>
                    </div>

                    <div class="align_center elMargin10">
                        <input type="text" name="lastName" placeholder="Last Name"
                               required="required" class="required  elInputBR5 elInputStyle1"
                               data-error-message="Please enter your last name!">
                    </div>

                    <div class="HeadlineWrapper elMargin20">
                        <div class="Headline alignleft hsSize12" style="color: rgba(47, 47, 47, 0.8);"><b>Email
                            Address:</b>
                        </div>
                    </div>

                    <div class="align_center elMargin10">
                        <input type="email" name="email" placeholder="Email Address"
                               required="required" class="required elInputBR5 elInputStyle1" data-validate="email"
                               data-error-message="Please enter a valid email id!">
                    </div>

                    <div class="HeadlineWrapper elMargin20">
                        <div class="Headline alignleft hsSize12" style="color: rgba(47, 47, 47, 0.8);"><b>Phone
                            Number:</b>
                        </div>
                    </div>

                    <div class="align_center elMargin10">
                        <input type="text" name="phone" placeholder="Phone"
                               required="required" class="required elInputBR5 elInputStyle1" data-validate="phone"
                               data-min-length="10"
                               data-max-length="15" data-error-message="Please enter a valid contact number!">
                    </div>


                </div>
            </div>


            <div class="col-md-6 innerContent">

                <div class="shipping_innerbox_two">

                    <div class="shipping_info">
                        <div class="shipping_text">
                            <div class="shipping_text_inner">
                                <h3 class="shipping_text_headline"><b>EagleEye Flashlight</b><br></h3>
                                <div class="shipping_text_body">This item qualifies for FREE Shipping</div>
                            </div>
                        </div>
                        <div class="shipping_image">
                            <img src="/static/images/imageedit_1_6130696211.gif" height="auto" width="175">
                        </div>
                    </div>

                    <div class="Seperator elMargin10">
                        <div class="Divider">
                            <div class="DividerInner"></div>
                        </div>
                    </div>

                    <div class="HeadlineWrapper  elMargin10 clearfix">
                        <div class="Headline alignleft hsSize18"><b>Step #3:</b> Shipping Address
                            <br>
                        </div>
                    </div>

                    <div class="HeadlineWrapper elMargin10">
                        <div class="Headline alignleft hsSize12" style="color: rgba(47, 47, 47, 0.8);"><b>Street
                            Address:</b>
                        </div>
                    </div>

                    <div class="align_center elMargin10">
                        <input type="text" name="shippingAddress1" placeholder="Your Address"
                               required="required" class="required elInputBR5 elInputStyle1 has-error"
                               data-error-message="Please enter your address!">
                    </div>

                    <div class="HeadlineWrapper elMargin20">
                        <div class="Headline alignleft hsSize12" style="color: rgba(47, 47, 47, 0.8);"><b>City:</b>
                        </div>
                    </div>

                    <div class="align_center elMargin10">
                        <input type="text" name="shippingCity" placeholder="Your City"
                               required="required" class="required elInputBR5 elInputStyle1"
                               data-error-message="Please enter your city!">
                    </div>

                    <div class="HeadlineWrapper elMargin20">
                        <div class="Headline alignleft hsSize12" style="color: rgba(47, 47, 47, 0.8);"><b>State /
                            Province:</b>
                        </div>
                    </div>

                    <div class="align_center elMargin10">
                        <select name="shippingState" required="required" class="required">
                            <option value="AL" data-cid="">Alabama</option>
                            <option value="AK" data-cid="">Alaska</option>
                            <option value="AS" data-cid="">American Samoa</option>
                            <option value="AZ" data-cid="">Arizona</option>
                            <option value="AR" data-cid="">Arkansas</option>
                            <option value="AE-A" data-cid="">Armed Forces Africa</option>
                            <option value="AA" data-cid="">Armed Forces Americas</option>
                            <option value="AE-C" data-cid="">Armed Forces Canada</option>
                            <option value="AE-E" data-cid="">Armed Forces Europe</option>
                            <option value="AE-M" data-cid="">Armed Forces Middle East</option>
                            <option value="AP" data-cid="">Armed Forces Pacific</option>
                            <option value="CA" data-cid="">California</option>
                            <option value="CO" data-cid="">Colorado</option>
                            <option value="CT" data-cid="">Connecticut</option>
                            <option value="DE" data-cid="">Delaware</option>
                            <option value="DC" data-cid="">District of Columbia</option>
                            <option value="FM" data-cid="">Federated States of Micronesia</option>
                            <option value="FL" data-cid="">Florida</option>
                            <option value="GA" data-cid="">Georgia</option>
                            <option value="GU" data-cid="">Guam</option>
                            <option value="HI" data-cid="">Hawaii</option>
                            <option value="ID" data-cid="">Idaho</option>
                            <option value="IL" data-cid="">Illinois</option>
                            <option value="IN" data-cid="">Indiana</option>
                            <option value="IA" data-cid="">Iowa</option>
                            <option value="KS" data-cid="">Kansas</option>
                            <option value="KY" data-cid="">Kentucky</option>
                            <option value="LA" data-cid="">Louisiana</option>
                            <option value="ME" data-cid="">Maine</option>
                            <option value="MD" data-cid="">Maryland</option>
                            <option value="MA" data-cid="">Massachusetts</option>
                            <option value="MI" data-cid="">Michigan</option>
                            <option value="MN" data-cid="">Minnesota</option>
                            <option value="MS" data-cid="">Mississippi</option>
                            <option value="MO" data-cid="">Missouri</option>
                            <option value="MT" data-cid="">Montana</option>
                            <option value="NE" data-cid="">Nebraska</option>
                            <option value="NV" data-cid="">Nevada</option>
                            <option value="NH" data-cid="">New Hampshire</option>
                            <option value="NJ" data-cid="">New Jersey</option>
                            <option value="NM" data-cid="">New Mexico</option>
                            <option value="NY" data-cid="">New York</option>
                            <option value="NC" data-cid="">North Carolina</option>
                            <option value="ND" data-cid="">North Dakota</option>
                            <option value="MP" data-cid="">Northern Mariana Islands</option>
                            <option value="OH" data-cid="">Ohio</option>
                            <option value="OK" data-cid="">Oklahoma</option>
                            <option value="OR" data-cid="">Oregon</option>
                            <option value="PA" data-cid="">Pennsylvania</option>
                            <option value="PR" data-cid="">Puerto Rico</option>
                            <option value="MH" data-cid="">Republic of Marshall Islands</option>
                            <option value="RI" data-cid="">Rhode Island</option>
                            <option value="SC" data-cid="">South Carolina</option>
                            <option value="SD" data-cid="">South Dakota</option>
                            <option value="TN" data-cid="">Tennessee</option>
                            <option value="TX" data-cid="">Texas</option>
                            <option value="UT" data-cid="">Utah</option>
                            <option value="VT" data-cid="">Vermont</option>
                            <option value="VI" data-cid="">Virgin Islands of the U.S.</option>
                            <option value="VA" data-cid="">Virginia</option>
                            <option value="WA" data-cid="">Washington</option>
                            <option value="WV" data-cid="">West Virginia</option>
                            <option value="WI" data-cid="">Wisconsin</option>
                            <option value="WY" data-cid="">Wyoming</option>
                        </select>
                    </div>

                    <div class="HeadlineWrapper elMargin20">
                        <div class="Headline alignleft hsSize12" style="color: rgba(47, 47, 47, 0.8);"><b>Zip Code /
                            Postal Code:</b>
                        </div>
                    </div>

                    <div class="align_center elMargin10">
                        <input type="text" name="shippingZip" placeholder="Zip Code" maxlength="5"
                               required="required" class="required elInputBR5 elInputStyle1"
                               data-error-message="Please enter a valid zip code!">
                    </div>

                </div>

                <div class="checkout_option elMargin20 align_center">
                    <img src="/static/images/credit-only.png" width="200">
                </div>

                <div class="shipping_innerbox_three elMargin20 clearfix">

                    <a id="order"></a>
                    <div class="elCreditCardForm">

                        <div class="ccNumberWrap" style="width: 100%;margin-bottom: 10px;">
                            <div class="ccCardText ccInputText">Credit Card Type:</div>
                            <select name="creditCardType" required="required" class="required no-error"
                                    onchange="javascript:toggleCardType(this.value);" data-deselect="false"
                                    data-error-message="Please select valid card type!">
                                <option value="">Card Type</option>
                                <option value="visa">Visa</option>
                                <option value="master">Master Card</option>
                                <option value="amex">American Express</option>
                                <option value="discover">Discover</option>
                            </select>
                        </div>

                        <div class="ccNumberWrap">
                            <div class="ccCardText ccInputText">Credit Card Number:</div>
                            <input type="tel" name="creditCardNumber"
                                   required="required" class="required cc-number elInputStyl0 elInputSmall ccInput"
                                   maxlength="16"
                                   data-error-message="Please enter a valid credit card number!"
                                   onkeyup="javascript: this.value = this.value.replace(/[^0-9]/g,'');">
                        </div>
                        <div class="ccCVCWrap">
                            <div class="ccCVCText ccInputText">CVC Code:</div>
                            <input type="tel" name="CVV" required="required"
                                   class="required cc-cvc elInputStyl0 elInputSmall ccInput"
                                   data-validate="cvv" maxlength="4"
                                   data-error-message="Please enter a valid CVV code!"
                                   onkeyup="javascript: this.value = this.value.replace(/[^0-9]/g,'');">
                        </div>
                        <div class="ccCVCWrap">
                            <div class="whatsthis">
                                <p class=""><a href="javascript:void(0);"
                                               onclick="javascript:openNewWindow('cvv.html','modal');">What is
                                    this?</a>
                                </p>
                            </div>
                        </div>


                        <div class="ccMonthWrap">
                            <div class="ccExpMonthText ccInputText">Expiration Month:</div>
                            <select name="expmonth"
                                    required="required"
                                    class="required cc-expirey-month elInputStyl0 elInputSmall ccInput"
                                    data-error-message="Please select a valid expiry month!">
                                <option value="">Month</option>
                                <option value="01">(01) January</option>
                                <option value="02">(02) February</option>
                                <option value="03">(03) March</option>
                                <option value="04">(04) April</option>
                                <option value="05">(05) May</option>
                                <option value="06">(06) June</option>
                                <option value="07">(07) July</option>
                                <option value="08">(08) August</option>
                                <option value="09">(09) September</option>
                                <option value="10">(10) October</option>
                                <option value="11">(11) November</option>
                                <option value="12">(12) December</option>
                            </select>
                        </div>

                        <div class="ccYearWrap">
                            <div class="ccExpYearText ccInputText">Expiration Year:</div>
                            <select name="expyear"
                                    required="required"
                                    class="required cc-expirey-year elInputStyl0 elInputSmall ccInput"
                                    data-error-message="Please select a valid expiry year!">
                                <option value="">Year</option>
                                <option value="16">2016</option>
                                <option value="17">2017</option>
                                <option value="18">2018</option>
                                <option value="19">2019</option>
                                <option value="20">2020</option>
                                <option value="21">2021</option>
                                <option value="22">2022</option>
                                <option value="23">2023</option>
                                <option value="24">2024</option>
                                <option value="25">2025</option>
                                <option value="26">2026</option>
                                <option value="27">2027</option>
                                <option value="28">2028</option>
                                <option value="29">2029</option>
                                <option value="30">2030</option>
                                <option value="31">2031</option>
                                <option value="32">2032</option>
                                <option value="33">2033</option>
                                <option value="34">2034</option>
                                <option value="35">2035</option>
                            </select>
                        </div>


                    </div>
                </div>


                <div class="align_center elMargin20 shipping_button">
                    {#                        <a href="{% url 'batteries' %}">#}
                    <input type="submit"
                           class="elButton elButtonSubtle elButtonSize1 elButtonColor1 elButtonFull"
                           value="YES! Ship Me My EagleEye Flashlight"
                           style="color: rgb(255, 255, 255); background-color: rgb(27, 191, 0);">
                    {#                        </a>#}
                </div>


            </div>


        </div>

        </form>
    </div>



    <div class="row padding_10 footer">
        <div class="col-md-12 innerContent">
            <div class="col-inner">
                <div class="HeadlineWrapper">
                    <div class="Headline">EagleEye EE-800 Flashlight</div>
                </div>
                <div class="HeadlineWrapper elMargin10">
                    <div class="Headline">7582 Las Vegas BLVD. S #115-405
                        <br>Las Vegas, NV 89123
                    </div>
                </div>
                <div class="HeadlineWrapper">
                    <div class="Headline">
                        {% include 'blocks/footer-links.html' %}
                    </div>
                </div>
            </div>
        </div>
    </div>


    </div>
    {% if messages %}
    <script src="/static/js/jquery.min.js"></script>
    <div class="modal show" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" style="color:#ff0000">OOPS!
                        There Seems To Be A Problem!</h4>
                </div>
                <div class="modal-body">
                    Error Message:<br>
                    <strong>
                        <ul class="messages">
                            {% for message in messages %}
                                <li{% if message.tags %}
                                    class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                            {% endfor %}
                        </ul>
                    </strong>
                    <br><br>
                    Please close this message and try again.<br>
                    If you continue to have problems please call 1-866-342-2144
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" onclick="$('div.modal').removeClass('show')">
                        Close
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    {% endif %}
{% endblock %}
