{% extends "base.html" %}


{% block content %}
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/countdown/jquery.plugin.js"></script>
    <script src="/static/js/countdown/jquery.countdown.js"></script>
    <script src="/static/js/video.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script>
        $(function () {
            var austDay = new Date();
            austDay = new Date(austDay.getFullYear() + 1, 1 - 1, 26);
            $('#defaultCountdown').countdown({
                until: +600
            });
            $('#year').text(austDay.getFullYear());
        });
    </script>
    <link rel="stylesheet" href="/static/css/app.css">
    <link rel="stylesheet" href="/static/css/page_one.css">
    <link href="/static/css/lander.css?v=1.0" media="screen" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/countdown/jquery.countdown.css">
    <header>
        <div class="site_logo">
            <img src="/static/images/logo_birds_new.png" id="logo_birds" class="img-responsive">
        </div>
    </header>

    <div class="content container">

        <div class="content_inner">


            <div class="row padding-10">

                <div class="col-md-12">

                    <div class="headline">
                        EagleEye EE-800 LED Flashlight Coupon Registration
                    </div>

                    <div style="position: relative;width: 100%;height: 0px;padding-bottom: 60%;">
                        <iframe allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"
                                frameborder="0" scrolling="no"
                                src="https://directvideohosting.com/video/36/autoplay/controls"
                                style="position: absolute; left: 0px; top: 0px; width: 100%; height: 100%"></iframe>
                    </div>

                    <div class="offerbutton">
                        <a href="{% url 'order' %}" class="offerbutton_link">
                            <span class="elButtonMain">YES! I WANT 75% OFF</span>
                        </a>
                    </div>

                    <div class="timer de elCountdownEvergreen elAlign_center elMargin0 de-editable"
                         id="tmp_countdown_evergreen-43402">
                        <div id="defaultCountdown" data-hours="70" data-minutes="12" data-seconds="37"
                             data-tz="America/New_York" data-url="#" data-lang="eng"
                             class="wideCountdownEvergreen wideCountdownSize2 cdBlack cdStyleTextOnly clearfix"></div>
                    </div>


                </div>

            </div>


            <div class="row  padding-10">
                <div class="col-md-12 innerContent col_left">
                    <div class="col-inner">
                        <div class="divider">
                            <div class="divider_inner"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row padding-10">
                <div class="col-md-12">
                    <div class="col-inner">

                        <div class="footer_address_outer">
                            <div class="footer_address_inner">
                                7582 Las Vegas Blvd. S #115-405 - Las Vegas, NV 89123 - (888) 550-7016 (Toll-Free)
                            </div>
                        </div>

                        <div class="subfooter">
                            <div class="subfooter_inner">
                                {% include 'blocks/footer-links.html' %}
                            </div>
                        </div>

                    </div>
                </div>
            </div>


        </div>

    </div>
{% endblock %}
