{% extends "base.html" %}
{% block extracss %}
    <link href="/static/css/lander.css?v=1.0" media="screen" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/css/style_thankyou.css">
{% endblock %}
{% block content %}
    <div class="containerWrapper">




        <div class="site_logo">
            <img src="/static/images/logo_birds_new.png" id="logo_birds">
        </div>


        <div class="midWideContainer">
            <div class="containerInner ui-sortable">
                <div class="row section1">
                    <div class="col-md-12 col-full innerContent">
                        <div class="col-inner">
                            <div class="HeadlineWrapper2">
                                <div class="Headline2">Don't Leave It To Chance! Grab The 1 Year Warranty</div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-full innerContent warranty_boxs">
                        <div class="col-md-6 col-sm-6 col-xs-12 warranty_box_Inner warranty_box_left">
                            <h1>1 Year Warranty</h1>
                            <h5>Your 1 Year Warranty Covers The Following:</h5>
                            <div class="warranty_box_list">
                                <ul>
                                    <li>
                                        <strong>DEFECTIVE - </strong>If you find any product you receive from your order today is ever defective in the next 365 days, we'll replace it with a brand new one!
                                    </li>
                                    <li>
                                        <strong>SCRATCHES - </strong>If any product you receive from your order today is ever scratched in the next 365 days, we'll replace it with a brand new one!
                                    </li>
                                    <li>
                                        <strong>LED BURNOUTS - </strong>If at anytime the LED inside your EagleEye goes out, we'll replace the product with a brand new one!
                                    </li>
                                    <li>
                                        <strong>CIRCUIT BOARD MALFUNCTION - </strong>If at anytime over the next 365 days you experience any circuit board malfunctions, we'll replace the product with a brand new one!
                                    </li>
                                    <li>
                                        <strong>DENTS -  </strong>If any product you receive from your order today ever experiences a dent in the next 365 days, we'll replace it with a brand new one!
                                    </li>
                                    <li>
                                        <strong>DINGS - I</strong>f any product you receive from your order today ever experiences a ding in the next 365 days, we'll replace it with a brand new one!
                                    </li>
                                    <li>
                                        <strong>DEFECTS - </strong>If any product you receive from your order today ever experiences a defect in the next 365 days, we'll replace it with a brand new one!
                                    </li>
                                    <li>
                                        <strong>WATER DAMAGE -</strong> If any product you receive from your order today ever experiences water damage in the next 365 days, we'll replace it with a brand new one!</li>
                                    <li>
                                        <strong>INTERNAL COMPONENT DAMAGE - </strong>If at anytime over the next 365 days you experience any internal component damage, we'll replace the product with a brand new one!
                                    </li>
                                    <li>
                                        <strong>100% Replacement </strong>- Any product purchased today will fall under the 1 year warranty and will be replaced<strong> </strong>with a brand new one!
                                    </li>
                                    <li>
                                        <strong>FREE SHIPPING</strong> - Under the 1 year warranty, we pay for shipping both ways! If something goes wrong, we'll take the hit on the shipping to get it to our warehouse and a new one back out to you!
                                    </li>
                                </ul>
                            </div>
                            <div class="warranty_price">1 YEAR WARRANTY - $15</div>
                            <div class="warranty_btn">
                                <a href="{% url 'warranty' %}?action=yes1">YES! ADD THE 1 YEAR WARRANTY TO ALL PRODUCTS I ORDERED TODAY FOR JUST $15</a>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12 warranty_box_Inner warranty_box_right">
                            <h1>3 Year Warranty</h1>
                            <h5>Your 3 Year Warranty Covers The Following:</h5>
                            <div class="warranty_box_list">
                                <ul>
                                    <li>
                                        <strong>DEFECTIVE - </strong>If you find any product you receive from your order today is ever defective in the next 1095 days, we'll replace it with a brand new one!
                                    </li>
                                    <li>
                                        <strong>SCRATCHES - </strong>If any product you receive from your order today is ever scratched in the next 1095 days, we'll replace it with a brand new one!
                                    </li>
                                    <li>
                                        <strong>LED BURNOUTS - </strong>If at anytime the LED inside your EagleEye goes out, we'll replace the product with a brand new one!
                                    </li>
                                    <li>
                                        <strong>CIRCUIT BOARD MALFUNCTION - </strong>If at anytime over the next 1095 days you experience any circuit board malfunctions, we'll replace the product with a brand new one!
                                    </li>
                                    <li>
                                        <strong>DENTS -  </strong>If any product you receive from your order today ever experiences a dent in the next 1095 days, we'll replace it with a brand new one!
                                    </li>
                                    <li>
                                        <strong>DINGS - I</strong>f any product you receive from your order today ever experiences a ding in the next 1095 days, we'll replace it with a brand new one!
                                    </li>
                                    <li>
                                        <strong>DEFECTS - </strong>If any product you receive from your order today ever experiences a defect in the next 1095 days, we'll replace it with a brand new one!
                                    </li>
                                    <li>
                                        <strong>WATER DAMAGE -</strong> If any product you receive from your order today ever experiences water damage in the next 1095 days, we'll replace it with a brand new one!</li>
                                    <li>
                                        <strong>INTERNAL COMPONENT DAMAGE - </strong>If at anytime over the next 1095 days you experience any internal component damage, we'll replace the product with a brand new one!
                                    </li>
                                    <li>
                                        <strong>100% Replacement </strong>- Any product purchased today will fall under the 3 year warranty and will be replaced<strong> </strong>with a brand new one!
                                    </li>
                                    <li>
                                        <strong>FREE SHIPPING</strong> - Under the 3 year warranty, we pay for shipping both ways! If something goes wrong, we'll take the hit on the shipping to get it to our warehouse and a new one back out to you!
                                    </li>
                                </ul>
                            </div>
                            <div class="warranty_price">3 YEAR WARRANTY - $20</div>
                            <div class="warranty_btn">
                                <a href="{% url 'warranty' %}?action=yes3">YES! ADD THE 3 YEAR WARRANTY TO ALL PRODUCTS I ORDERED TODAY FOR JUST $20</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 warranty_footer_btn">
                        <a href="{% url 'thankyou' %}">No Thanks - I'm Confident That I'll Never Have Any Malfunctions, Dings, Dents, Water Damage, Internal Component Damage, and am okay paying the regular replacement cost of any product that happens to go hairy.</a>
                    </div>
                </div>
            </div>

        </div>


    </div>

    <div class="footercontainer">
        <div class="containerInner ui-sortable">

            <div class="row">
                <div class="col-md-12 innerContent col_left">
                    <div class="col-inner">
                        <div class="HeadlineWrapper">
                            <div class="Headline">
                                <strong>Eagle Eye Flashlights</strong> - All Rights Reserve - Copyright @ 2016
                                <br>
                                {% include 'blocks/footer-links.html' %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

<!-- Offer Conversion: EagleEye video page -->
<iframe src="https://cpatrust.go2jump.org/SLEP" scrolling="no" frameborder="0" width="1" height="1"></iframe>
<!-- // End Offer Conversion -->
<!-- Offer Conversion: EagleEye video page -->
<iframe src="https://cpatrust.go2jump.org/SLET" scrolling="no" frameborder="0" width="1" height="1"></iframe>
<!-- // End Offer Conversion -->

{% endblock %}
