@media screen {
	.container {
		max-width: 1100px;
	}
	.desktop-logo-wrap {
		padding-top: 10px;
		padding-bottom: 15px;
			background: rgb(140,140,140); /* Old browsers */
	background: -moz-linear-gradient(-45deg, rgba(140,140,140,1) 1%, rgba(22,22,22,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg, rgba(140,140,140,1) 1%,rgba(22,22,22,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg, rgba(140,140,140,1) 1%,rgba(22,22,22,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8c8c8c', endColorstr='#161616',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	border-bottom: 2px solid #ff7901;
	}
	.social .text-right {
		vertical-align: middle;
		list-style-type: none;
	}
	.social .text-right {
		list-style-type: none;
	}
	.social .text-right .item {
		display: inline-block;
	}
	.social .item .sub-item {
		color: #fff;
		margin-left: 24px;
	}
	.top-wrap {
		text-align: left;
		margin-top: 30px;
	}
	.top-wrap .title h1 {
		font-size: 35px;
		color: #232323;
		margin-bottom: 20px;
		line-height: 1.4em;
	}
	.links-wrap .text-left {
		text-align: center;
		list-style-type: none;
		margin-left: -40px;
	}
	.links-wrap .text-left .item {
		display: inline;
	}
	.links-wrap .item .sub-item {
		border-radius: 5px;
		width: 191px;
		color: #fff;
		padding: 5px 12px 6px;
		font-size: 13px;
		font-weight: bold;
		
		text-transform: uppercase;
		margin-right: 6px;
		margin-bottom: 6px;
		text-align: center;
	}
	.links-wrap .item .fb {
		background-color: #306199;
	}
	.links-wrap .item .in {
		background-color: #007bb6;
	}
	.links-wrap .item .tw {
		background-color: #26c4f1;
	}
	.links-wrap .item .em {
		background-color: #a4a4a4;
	}
	.links-wrap .item .pr {
		background-color: #313131;
	}
	.links-wrap .sub-item .fa {
		font-size: 16px;
	}
	.links-wrap .sub-item .left {
		vertical-align: middle;
		float: left;
	}
	.top-wrap .content-wrap {
		padding-top: 30px;
		padding-bottom: 88px;
	}
	.top-wrap .content-wrap img {
		float: right;
		margin-left: 27px;
		margin-bottom: 27px;
	}
	.top-wrap .content-wrap p {
		color: #313131;
		font-size: 18px;
		font-family: 'Open Sans', 'Sans Serif';

	}

	.travel-companion,
	.testimonial-wrap {
		padding-bottom: 60px;
	}
	.travel-companion hr {
		border-top: 7px solid #a4a4a4;
		margin: 1em 0 1.5em;
	}
	.travel-companion .item:nth-child(odd) {
		padding-left: 15px;
		padding-right: 15px;
	}
	.travel-companion .item:nth-child(even) {
		padding-left: 15px;
		padding-right: 15px;
	}
	.travel-companion .sub-item {
		width: 100%;
	}
	.testimonial-wrap hr {
		border-top: 7px solid #a4a4a4;
		margin: 1em 0 1.5em;
	}
	.travel-companion h4,
	.testimonial-wrap h4 {
		font-size: 20px;
		color: #232323;
	}
	.testimonial-wrap .media-body {
		background-image: url(img/quote-ico.png);
		background-position: right bottom;
		background-repeat: no-repeat;
	}
	.testimonial-wrap .media-body p {
		color: #313131;
		font-size: 18px;
		 
	}
	.testimonial-wrap .media-body span {
		color: #c7a255;
		font-size: 15px;
		font-weight: bold;
		font-style: italic;
	}

	.availability-wrap {
		text-align: left;
		padding-left: 15px;
		padding-right: 15px;
		padding-bottom: 40px;
	}
	.availability-wrap p {
		color: #313131;
		font-size: 18px;
	}
	.availability-wrap .default-btn {
		font-size: 15px;
	}

	.footer-wrap {
		text-align: center;
		padding-top: 33px;
		padding-bottom: 30px;
		background-color: #333;
		box-shadow: inset 0px 6px 5px -3px #111;
		-webkit-box-shadow: inset 0px 6px 5px -3px #111;
		-moz-box-shadow: inset 0px 6px 5px -3px #111;
		-o-box-shadow: inset 0px 6px 5px -3px #111;
	}
	.footer-wrap p {
		margin: 0 0 22px;
		color: #fff;
		font-size: 14px;
	}
		 
	.videoWrapper {
    	position: relative;
    	padding-bottom: 56.25%;
    	padding-top: 25px;
    	height: 0;
    }
    .videoWrapper iframe,
    .videoWrapper object,
    .videoWrapper embed {
    	position: absolute;
    	top: 0;
    	left: 0;
    	width: 100%;
    }
}

@media (min-width: 768px) {
	.videoWrapper {
    	position: relative;
    	padding-bottom: 56.25%;
    	padding-top: 25px;
    	height: 0;
    }
    .videoWrapper iframe,
    .videoWrapper object,
    .videoWrapper embed {
    	position: absolute;
    	top: 0;
    	left: 0;
    	width: 100%;
    }
}
@media (min-width: 992px) {
	.travel-companion .item:nth-child(odd) {
		padding-left: 15px;
		padding-right: 2.5px;
	}
	.travel-companion .item:nth-child(even) {
		padding-left: 2.5px;
		padding-right: 15px;
	}
	.top-wrap {
		text-align: left;
	}
	.links-wrap .text-left {
		text-align: left;
	}
	.availability-wrap {
		text-align: left;
	}
	.footer-wrap {
		text-align: left;
	}
	
	.videoWrapper {
    	position: relative;
    	padding-bottom: 56.25%;
    	padding-top: 25px;
    	height: 0;
    }
    .videoWrapper iframe,
    .videoWrapper object,
    .videoWrapper embed {
    	position: absolute;
    	top: 0;
    	left: 0;
    	width: 100%;
    }
}
@media (min-width: 1200px) {
	.travel-companion .item:nth-child(odd) {
		padding-left: 15px;
		padding-right: 2.5px;
	}
	.travel-companion .item:nth-child(even) {
		padding-left: 2.5px;
		padding-right: 15px;
	}
	.top-wrap {
		text-align: left;
	}
	.links-wrap .text-left {
		text-align: left;
	}
	.availability-wrap {
		text-align: left;
	}
	.footer-wrap {
		text-align: left;
	}
	.videoContainer{
		width: 100%;
				
	}	 
	.videoWrapper {
    	position: relative;
    	padding-bottom: 56.25%;
    	padding-top: 25px;
    	height: 0;
    }
    .videoWrapper iframe,
    .videoWrapper object,
    .videoWrapper embed {
    	position: absolute;
    	top: 0;
    	left: 0;
    	width: 100%;
    }
}